#
# COPYRIGHT Ericsson 2021
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#

#  Note : These are the files that are zipped. Please list if any other openapi files need to be zipped.
#  documents name
documents:
  - name: schemaregistry-openapi
    files:
      - ../src/main/resources/v1/schemaregistry-openapi.yaml