model_version: 2.0
product_va_config:
    name: IDUN microservice chassis with Bob
    product_name: eric-ms-chassis
    version: {version}
    va_template_version: 2.0.0
    description: IDUN Microservice chassis with Bob based CI and release automation pipelines
    images:
        - /eric-oss-schema-registry-sr:{version}
 
    mitigations:
        CVE-2015-8855:
            mitigation: This is a placeholder, example mitigation. Add mitigation steps below.
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2022-12-10T00:00:00Z
    CVE-2016-1000027:
        TR:
            - IDUN-42591
        evaluation:
            status: UT
            rationale: >
                 The vulnerable classes, HttpInvokerServiceExporter
                 and SimpleHttpInvokerServiceExporter, are based on
                 RemoteInvocationSerializingExporter. Neither of these are used
                 in our project so we are not vulnerable to this. But they come
                 packaged with springboot so we are stuck with the vulnerability
                 alert with no way to exclude it. We do not expose service beans
                 as an endpoint either which is the root cause. The only fix is
                 to make sure we dont use it, and since we dont, this is a very
                 low lisk issue.
                 Contextual info: https://blog.gypsyengineer.com/en/security/detecting-dangerous-spring-exporters-with-codeql.html

        mitigation: >
            Continue to not use the vulnerable classes.
        sce:
            sce-id: N/A
            status: N/A
            expires: N/A

    CVE-2022-40674:
      TR:
        - ADPPRG-115649
      evaluation:
        status: UT
        rationale: >
            The CBOS team has an exemption for this CVE.
      mitigation: >
          Check in with CBOS team as exemption nears expiry
      sce:
        sce-id: SCED-2022-000124
        status: FP
        expires: PENDING

    CVE-2020-36518:
      TR:
        - IDUN-42581
      evaluation:
        status: UT
        rationale: >
             This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-1941:
      TR:
        - IDUN-42583
      evaluation:
        status: UT
        rationale: >
            This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-25857:
      TR:
        - IDUN-42454
      evaluation:
        status: UT
        rationale: >
            The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. TThe issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-42003:
      TR:
        - IDUN-42581
      evaluation:
        status: UT
        rationale: >
            The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. TThe issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-42004:
      TR:
        - IDUN-42581
      evaluation:
        status: UT
        rationale: >
            The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. TThe issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2013-4235:
      TR:
        - IDUN-42583
      evaluation:
        status: UT
        rationale: >
            The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
      mitigation: >
          Create ticket to track and await response from CBOS team on planned fix.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2021-22569:
      TR:
        - IDUN-42583
      evaluation:
        status: UT
        rationale: >
            The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
      mitigation: >
          Create ticket to track and await response from CBOS team on planned fix.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2021-3521:
      TR:
        - IDUN-42583
      evaluation:
        status: UT
        rationale: >
            The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
      mitigation: >
          Create ticket to track and await response from CBOS team on planned fix.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-22968:
      TR:
        - IDUN-42585
      evaluation:
        status: UT
        rationale: >
            This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-22970:
      TR:
        - IDUN-42585
      evaluation:
        status: UT
        rationale: >
            This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-22971:
      TR:
        - IDUN-42585
      evaluation:
        status: UT
        rationale: >
            This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-22976:
      TR:
        - IDUN-42585
      evaluation:
        status: UT
        rationale: >
            This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-3219:
      TR:
        - IDUN-42583
      evaluation:
        status: UT
        rationale: >
            The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
      mitigation: >
          Create ticket to track and await response from CBOS team on planned fix.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-38749:
      TR:
        - IDUN-42454
      evaluation:
        status: UT
        rationale: >
            Microservice chassis does not parse untrusted yaml files. However this vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Microservice chassis does not parse untrusted yaml. Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-38750:
      TR:
        - IDUN-42454
      evaluation:
        status: UT
        rationale: >
            Microservice chassis does not parse untrusted yaml files. However this vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Microservice chassis does not parse untrusted yaml. Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-38751:
      TR:
        - IDUN-42454
      evaluation:
        status: UT
        rationale: >
            Microservice chassis does not parse untrusted yaml files. However this vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
          Microservice chassis does not parse untrusted yaml. Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    CVE-2022-38752:
      TR:
        - IDUN-42454
      evaluation:
        status: UT
        rationale: >
          Microservice chassis does not parse untrusted yaml files. However this vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
        Microservice chassis does not parse untrusted yaml. Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A

    XRAY-129616:
      TR:
        - IDUN-42462
      evaluation:
        status: UT
        rationale: >
          This vulnerability will be updated at a later date once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
      mitigation: >
        Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
      sce:
        sce-id: N/A
        status: N/A
        expires: N/A
