#  Note : These are the files that are zipped. Please list if any other openapi files need to be zipped.
#  documents name
documents:
  - name: user-guide
    files:
      - SchemaRegistryArchitecture.png
      - SchemaRegistrySRDeploymentOverview.png
      - SchemaRegistryDeploymentView.png
      - SchemaRegistrySRUserGuide.md
  - name: developers-guide
    files:
      - SchemaRegistrySRDevelopersGuide.md
  - name: readme
    files:
      - ../README.md
  - name: contributing
    files:
      - ../CONTRIBUTING.md
  - name: api-guide
    files:
      - SchemaRegistrySRApiGuide.md    
  - name: Test-Verification-Report
    files: 
      - test_verification_report.md
      - image001.PNG
  - name: Test-Specification
    files:
      - test_specification.md     
  - name: Schema-Registry-PRI
    files:
      - Schema_Registry_PRI.md        